In [1]:
import pandas as pd
import re
import datetime as dt
import os
import glob

Nov_4_Comm = pd.read_csv('../netmenu_files/Netmenu11.4.csv', encoding='latin-1')

In [2]:
os.chdir(r'C:\Users\ferralme\OneDrive - Vanderbilt\ODCapstone\OD_netmenu_trigger_files')

In [3]:
file_extension = '.csv'

In [4]:
all_filenames = [i for i in glob.glob(f"*{file_extension}")]

In [5]:
print(all_filenames)

['Netmenu11.4.csv', 'Netmenu11.5.csv', 'Netmenu11.6.csv', 'Netmenu11.7.csv']

In [6]:
netmenu = pd.concat([pd.read_csv(file, encoding='latin-1') for file in all_filenames],ignore_index=True)

C:\Users\ferralme\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (19,29,55,83,114) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
C:\Users\ferralme\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (19,29,55,114) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [7]:
netmenu= netmenu.drop_duplicates()

In [8]:
netmenu[['Day','mealperiod']] = netmenu['Name'].str.split('-', n=1,expand=True)

In [9]:
netmenu = netmenu[['AscTimePeriodName','ScheduleDate','Name', 'Day','mealperiod','AscServiceCourseName','SSServiceName','AscForecastUofMName','AscPreparedUofMName','AscServedUofMName','SSForecastAmount','SSForecastCost','SSPreparedAmount','SSPreparedCost','SSServedAmount','SSServedCost']]

In [10]:
netmenu.head()

,AscTimePeriodName,ScheduleDate,Name,Day,mealperiod,AscServiceCourseName,SSServiceName,AscForecastUofMName,AscPreparedUofMName,AscServedUofMName,SSForecastAmount,SSForecastCost,SSPreparedAmount,SSPreparedCost,SSServedAmount,SSServedCost
0,Breakfast,11/4/2019 0:00,Monday-Breakfast,Monday,Breakfast,Salad Bar,Frozen Blueberries,2 oz. portion,2 oz. portion,2 oz. portion,5,2.36,5,2.36,5,2.36
5,Breakfast,11/4/2019 0:00,Monday-Breakfast,Monday,Breakfast,Salad Bar,Cottage Cheese,1 lb.,1 lb.,1 lb.,5,1.43,30,1.43,30,1.43
10,Breakfast,11/4/2019 0:00,Monday-Breakfast,Monday,Breakfast,Salad Bar,Mini Chocolate Chips,1 lb.,1 lb.,1 lb.,1,2.58,1,2.58,1,2.58
11,Breakfast,11/4/2019 0:00,Monday-Breakfast,Monday,Breakfast,Salad Bar,Oreo Cookie Crumb,1 lb.,1 lb.,1 lb.,1,3.04,2,3.04,2,3.04
12,Breakfast,11/4/2019 0:00,Monday-Breakfast,Monday,Breakfast,Salad Bar,Craisins,1 lb.,1 lb.,1 lb.,2,2.09,2,2.09,2,2.09

In [11]:
netmenu['ScheduleDate'] = netmenu['ScheduleDate'].map(lambda x: str(x)[:-4])

In [12]:
netmenu['ScheduleDate']=pd.to_datetime(netmenu.ScheduleDate)

In [13]:
netmenu[['Day','mealperiod']] = netmenu['Name'].str.split('-', n=1,expand=True)

In [14]:
netmenu.to_excel(r'C:\Users\ferralme\nss-data-analytics\Capstone\netmenu_pbi_files\netmenu.xlsx', index = False)