In [2]:
import pandas as pd
import re
import datetime as dt
import os
import glob

Nov_4_Comm = pd.read_csv('../netmenu_files/Netmenu11.4.csv', encoding='latin-1')

In [3]:
os.chdir(r'C:\Users\ferralme\OneDrive - Vanderbilt\ODCapstone\OD_netmenu_trigger_files')

In [4]:
file_extension = '.csv'

In [5]:
all_filenames = [i for i in glob.glob(f"*{file_extension}")]

In [6]:
print(all_filenames)

['Netmenu11.4.csv', 'Netmenu11.5.csv', 'Netmenu11.6.csv', 'Netmenu11.7.csv', 'netmenu11.8.csv']

In [7]:
netmenu = pd.concat([pd.read_csv(file, encoding='latin-1') for file in all_filenames],ignore_index=True)

C:\Users\ferralme\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (19,29,55,83,114) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
C:\Users\ferralme\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (19,29,55,114) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [8]:
netmenu= netmenu.drop_duplicates()

In [9]:
netmenu[['Day','mealperiod']] = netmenu['Name'].str.split('-', n=1,expand=True)

In [10]:
netmenu = netmenu[['AscTimePeriodName','ScheduleDate','Name', 'Day','mealperiod','AscServiceCourseName','SSServiceName','AscForecastUofMName','AscPreparedUofMName','AscServedUofMName','SSForecastAmount','SSForecastCost','SSPreparedAmount','SSPreparedCost','SSServedAmount','SSServedCost']]

In [11]:
netmenu.head()

,AscTimePeriodName,ScheduleDate,Name,Day,mealperiod,AscServiceCourseName,SSServiceName,AscForecastUofMName,AscPreparedUofMName,AscServedUofMName,SSForecastAmount,SSForecastCost,SSPreparedAmount,SSPreparedCost,SSServedAmount,SSServedCost
0,Breakfast,11/4/2019 0:00,Monday-Breakfast,Monday,Breakfast,Salad Bar,Frozen Blueberries,2 oz. portion,2 oz. portion,2 oz. portion,5,2.36,5,2.36,5,2.36
5,Breakfast,11/4/2019 0:00,Monday-Breakfast,Monday,Breakfast,Salad Bar,Cottage Cheese,1 lb.,1 lb.,1 lb.,5,1.43,30,1.43,30,1.43
10,Breakfast,11/4/2019 0:00,Monday-Breakfast,Monday,Breakfast,Salad Bar,Mini Chocolate Chips,1 lb.,1 lb.,1 lb.,1,2.58,1,2.58,1,2.58
11,Breakfast,11/4/2019 0:00,Monday-Breakfast,Monday,Breakfast,Salad Bar,Oreo Cookie Crumb,1 lb.,1 lb.,1 lb.,1,3.04,2,3.04,2,3.04
12,Breakfast,11/4/2019 0:00,Monday-Breakfast,Monday,Breakfast,Salad Bar,Craisins,1 lb.,1 lb.,1 lb.,2,2.09,2,2.09,2,2.09

In [12]:
netmenu['ScheduleDate'] = netmenu['ScheduleDate'].map(lambda x: str(x)[:-4])

In [13]:
netmenu['ScheduleDate']=pd.to_datetime(netmenu.ScheduleDate)

In [14]:
netmenu[['Day','mealperiod']] = netmenu['Name'].str.split('-', n=1,expand=True)

In [15]:
netmenu[['Leftover Amount']] = netmenu['SSPreparedAmount'] - netmenu['SSServedAmount']

In [24]:
netmenu[['Forecasted Cost']]  = netmenu['SSForecastCost'] * netmenu['SSForecastAmount']
netmenu[['Prepared Cost']]  = netmenu['SSPreparedCost'] * netmenu['SSPreparedAmount']
netmenu[['Served Cost']]  = netmenu['SSServedCost'] * netmenu['SSServedAmount']
netmenu[['Leftover Cost']]  = netmenu['Prepared Cost'] - netmenu['Served Cost']

In [26]:
netmenu.head(100)

,AscTimePeriodName,ScheduleDate,Name,Day,mealperiod,AscServiceCourseName,SSServiceName,AscForecastUofMName,AscPreparedUofMName,AscServedUofMName,...,SSForecastCost,SSPreparedAmount,SSPreparedCost,SSServedAmount,SSServedCost,Leftover Amount,Forecasted Cost,Prepared Cost,Served Cost,Leftover Cost
0,Breakfast,2019-11-04,Monday-Breakfast,Monday,Breakfast,Salad Bar,Frozen Blueberries,2 oz. portion,2 oz. portion,2 oz. portion,...,2.36,5,2.36,5,2.36,0,11.80,11.80,11.80,0.0
5,Breakfast,2019-11-04,Monday-Breakfast,Monday,Breakfast,Salad Bar,Cottage Cheese,1 lb.,1 lb.,1 lb.,...,1.43,30,1.43,30,1.43,0,7.15,42.90,42.90,0.0
10,Breakfast,2019-11-04,Monday-Breakfast,Monday,Breakfast,Salad Bar,Mini Chocolate Chips,1 lb.,1 lb.,1 lb.,...,2.58,1,2.58,1,2.58,0,2.58,2.58,2.58,0.0
11,Breakfast,2019-11-04,Monday-Breakfast,Monday,Breakfast,Salad Bar,Oreo Cookie Crumb,1 lb.,1 lb.,1 lb.,...,3.04,2,3.04,2,3.04,0,3.04,6.08,6.08,0.0
12,Breakfast,2019-11-04,Monday-Breakfast,Monday,Breakfast,Salad Bar,Craisins,1 lb.,1 lb.,1 lb.,...,2.09,2,2.09,2,2.09,0,4.18,4.18,4.18,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1965,Lunch,2019-11-04,Monday - Week 3,Monday,Week 3,Bowls,Avocado Pulp,1 lb.,1 lb.,1 lb.,...,2.50,5,2.50,5,2.50,0,25.00,12.50,12.50,0.0
1975,Lunch,2019-11-04,Monday - Week 3,Monday,Week 3,Bowls,Tri-Colored Quinoa,1 oz. portion,1 oz. portion,1 oz. portion,...,1.24,10,1.24,10,1.24,0,12.40,12.40,12.40,0.0
1985,Lunch,2019-11-04,Monday - Week 3,Monday,Week 3,Bowls,Spring Salad Mix,2 oz. portion,2 oz. portion,2 oz. portion,...,3.20,4,3.20,4,3.20,0,19.20,12.80,12.80,0.0
1991,Lunch,2019-11-04,Monday - Week 3,Monday,Week 3,Bowls,Mango Chipotle Salsa,1 lb.,1 lb.,1 lb.,...,2.85,4,2.85,4,2.85,0,14.25,11.40,11.40,0.0
1996,Lunch,2019-11-04,Monday - Week 3,Monday,Week 3,Bowls,Sriracha Peach Sauce,1 lb.,1 lb.,1 lb.,...,1.56,4,1.56,4,1.56,0,3.12,6.24,6.24,0.0

In [30]:
netmenu['Leftover Cost'].sort_values(ascending = False)

3464     102.60
2107      79.20
11997     54.40
17042     52.95
1369      51.60
          ...
16977      0.00
16982      0.00
17202      0.00
17402      0.00
0          0.00
Name: Leftover Cost, Length: 1539, dtype: float64

In [16]:
netmenu.head()

,AscTimePeriodName,ScheduleDate,Name,Day,mealperiod,AscServiceCourseName,SSServiceName,AscForecastUofMName,AscPreparedUofMName,AscServedUofMName,SSForecastAmount,SSForecastCost,SSPreparedAmount,SSPreparedCost,SSServedAmount,SSServedCost,Leftover Amount
0,Breakfast,2019-11-04,Monday-Breakfast,Monday,Breakfast,Salad Bar,Frozen Blueberries,2 oz. portion,2 oz. portion,2 oz. portion,5,2.36,5,2.36,5,2.36,0
5,Breakfast,2019-11-04,Monday-Breakfast,Monday,Breakfast,Salad Bar,Cottage Cheese,1 lb.,1 lb.,1 lb.,5,1.43,30,1.43,30,1.43,0
10,Breakfast,2019-11-04,Monday-Breakfast,Monday,Breakfast,Salad Bar,Mini Chocolate Chips,1 lb.,1 lb.,1 lb.,1,2.58,1,2.58,1,2.58,0
11,Breakfast,2019-11-04,Monday-Breakfast,Monday,Breakfast,Salad Bar,Oreo Cookie Crumb,1 lb.,1 lb.,1 lb.,1,3.04,2,3.04,2,3.04,0
12,Breakfast,2019-11-04,Monday-Breakfast,Monday,Breakfast,Salad Bar,Craisins,1 lb.,1 lb.,1 lb.,2,2.09,2,2.09,2,2.09,0

In [14]:
netmenu.to_excel(r'C:\Users\ferralme\nss-data-analytics\Capstone\netmenu_pbi_files\netmenu.xlsx', index = False)